* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #070707;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background-color: #F2FAF8;
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #506453;
}

.navigator a {
  color: #F2FAF8;
  margin: 0 10px;
}

.navigator a:hover {
  color: #E773B5;
}

.navigator img {
  height: 40px;
}

#logo img {
  height: 60px;
}

#search {
  border: 1px solid #506453;
  border-radius: 3px;
  padding: 3px;
}

#searching {
  width: 13px;
  height: 13px;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.higher {
  display: flex;
  justify-content: space-between;
}

#reklama1, #reklama2 {
  background-color: #506453;
  width: 100px;
  height: 649px;
  position: absolute;
  top: 175px;
  color: #F2FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

#reklama1 {
  left: 0;
}

#reklama2 {
  right: 0;
}

a {
  text-decoration: none;
  color: #070707;
}

a:hover {
  color: #E773B5;
}

#FAQ, #PRACOWNICY {
  margin-bottom: 20px;
}

h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
  color: #E773B5;
}

h2 {
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
  color: #070707;
}

#profilowe_zosia_zdj {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.zdjeciagaleryjne a img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

footer {
  background-color: #506453;
  color: #F2FAF8;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer address, footer p {
  margin: 5px;
}

footer a {
  color: #F2FAF8;
  text-decoration: underline;
}

footer a:hover {
  color: #E773B5;
}
